.high-fidelity {
    display: flex;
    flex-direction: column;
    height: 1080px;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 187px 494px;
    position: relative;
    background-color: #50c878;
}

.high-fidelity .text-wrapper {
    position: relative;
    width: 674px;
    height: 56px;
    margin-top: -115.73px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #004526;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.high-fidelity .main-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 49px;
    padding: 60px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -45.73px;
    margin-left: -9.73px;
    margin-right: -9.73px;
}

.high-fidelity .knife-fork-image {
    position: relative;
    width: 214.8px;
    height: 581.8px;
    margin-left: -25.90px;
}

.high-fidelity .plate {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 32px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 310.15px;
    box-shadow: 0px 4px 40px 13px #00000040;
}

.high-fidelity .ellipse {
    position: relative;
    width: 555.45px;
    height: 555.45px;
    background-color: #eaeaea;
    border-radius: 277.73px;
}

.high-fidelity .add-button-plate {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 256px;
    left: 252px;
    display: inline-flex;
    align-items: center;
}

.high-fidelity .plus-button {
    position: relative;
    width: 80.86px;
    height: 80.86px;
}

.high-fidelity .div {
    position: relative;
    width: 114px;
    height: 19px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.high-fidelity .buttons {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -114.73px;
}

.high-fidelity .add-buttons {
    display: inline-flex;
    align-items: flex-start;
    gap: 28px;
    position: relative;
    flex: 0 0 auto;
}

.high-fidelity .add-button {
    gap: 5px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
}

.high-fidelity .vector-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #50c878;
    border-radius: 10px;
}

.high-fidelity .vector {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 5px;
    left: 5px;
}

.high-fidelity .text-wrapper-2 {
    position: relative;
    width: 72px;
    height: 11px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.high-fidelity .generate-button {
    display: flex;
    width: 194px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 14px;
    position: relative;
    background-color: #004526;
    border-radius: 20px;
}

.high-fidelity .text-wrapper-3 {
    position: relative;
    width: 166px;
    height: 15px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
